.logo{
    margin-top: 130px;
}
h1{
    font-size: 34px;
    margin-top: 5px;
    font-family: font69996;
}
a{
    text-decoration: none;
    color: black;
}
.button{
    font-size: 40px;
    background-color: #e66767;
    display:block; 
    margin:75px 41% 75px 41%;
    text-transform:uppercase;
    font-family: Noto Sans; 
}
.button:after{
    display: block;
    content: "";
    border-bottom: solid 3px #d30325;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out
}
.button:hover:after { transform: scaleX(1); }