@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black
}

header * a, footer * a{
    color: white
}

.white {
    color: white
}

header {
    position: absolute;
    width: 1920px;
    height: 108px;
    left: 0px;
    top: 0px;

}

.headerback {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #253DAC;
}

.logoback {
    position: absolute;
    left: 12.5%;
    right: 75.57%;
    top: 0%;
    bottom: 0%;

    background: rgba(11, 32, 134, 0.87);
}

.TMI_logo {
    position: absolute;
    left: 18%;
    right: 78.18%;
    top: 16%;
    bottom: 26.85%;
}

header nav {
    position: absolute;
    left: 27.18%;
    right: 31.98%;
    top: 31%;
    bottom: 42.95%;
}

.first-nav {
    position: absolute;
    left: 0%;
    right: 63.33%;
    top: 38.26%;
    bottom: 42.95%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.second-nav {
    position: absolute;
    left: 15%;
    right: 30%;
    top: 38.26%;
    bottom: 42.95%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.thrid-nav {
    position: absolute;
    left: 35%;
    right: 0%;
    top: 38.26%;
    bottom: 42.95%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.fourth-nav {
    position: absolute;
    left: 85%;
    right: 0%;
    top: 38.26%;
    bottom: 42.95%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.lock-1 {
    position: absolute;
    left: 81.82%;
    right: 16.61%;
    top: 36%;
    bottom: 40.27%;
}

.login {
    position: absolute;
    left: 83.65%;
    right: 12.5%;
    top: 10%;
    bottom: 45.26%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.search-wrap {
    margin-left: 424px;
    margin-top: 179px;
    height: 75px;
    width: 1072px;
    position: absolute;
}

.search-bar{
    border: 2px solid #0F248B;
    border-radius: 1px;
    height: 71px;
    float: left;
}

.select-item{
    float: left;
}

.select-item>select {
    float: left;
    width: 205px;
    height: 51px;
    margin-top: 10px;
    padding-left: 13px;
    border-style: none;
    font-size: 24px;
    color: #0F248B;
    background: url('../images/Vector1.png') no-repeat 95% 50%;
    text-align: center;
    border-radius: 0px;
    border-style: none;
    border-right: 2px solid #0F248B;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none; appearance: none;
}
.select-item>select::-ms-expand { display: none; }

.search-bar>input {
    width: 614px;
    height: 71px;
    padding: 0 20px;
    padding-left: 20px;
    font-size: 20px;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none; appearance: none;
}
.search-bar>input::-ms-expand { display: none; }
.search-bar>input:focus { outline:none; }

.search-wrap>button{
    position: absolute;
    width: 186px;
    height: 75px;
    padding: 0;
    margin-left: 23px;
    border-style: none;
    font-size: 24px;
    color: #ffffff;
    background-color: #0F248B;
    outline: none;
    cursor: pointer;
}

.search-wrap>button:active {
    background-color: #253DAC;
    transition: background 0.0s;
}

footer{
    position: absolute;
    width: 1920px;
    height: 380px;
    left: 0px;
    top: 2012px;    
    
    background: #253DAC;
}

.TMI-logo2{
    position: absolute;
    left: 3%;
    right: 78.91%;
    top: 8%;
    bottom: 64.47%;
}

.TMI-footer{
    position: absolute;
    left: 11.77%;
    right: 75.31%;
    top: 12.15%;
    bottom: 52.82%;
}

.TMI-p{
    position: absolute;
    left: 0%;
    right: 17%;
    top: 70%;
    bottom: 0%;
    font-size: 17px;
    text-align: center;
}

footer nav{
    position: absolute;
    left: 28%;
    right: 60%;
    top: 18%;
    bottom: 46.84%;
}

footer nav ul{margin: 12px; font-size: 20px;}

address{
    position: absolute;
    left: 52.08%;
    right: 41.56%;
    top: 16.84%;
    bottom: 66.58%;

    width: 280px;
}

address p, address h3{
    margin: 5px 0 0 0; 
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;    
}
address div{margin-bottom: 20px;}

.about{
    position: absolute;
    left: 75%;
    right: 10%;
    top: 16.84%;
    bottom: 76.84%;
}

footer div ul{
    margin: 0 0 5px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.footer-hr{
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 70.53%;
    bottom: 29.47%;

    width: 1440px;
}

.copyright{
    position: absolute;
    left: 12.5%;
    right: 76.04%;
    top: 80%;
    bottom: 15.79%;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;
}