<head>
    <link rel="stylesheet" href="/css/base.css">
</head>

<footer class="white">
    <span class="TMI-footer">
        <image id="Tmi-logo2" src="/images/TMI_LOGO.png" style="width: 150px;" />
        <span class="TMI-p">공모하기 좋은 사이트 TMI</span>
    </span>
    <nav>
        <li>
            <ul><a href="calendar">캘린더</a></ul>
            <ul><a href="peed">피드</a></ul>
            <ul><a href="community">커뮤니티</a></ul>
            <ul><a href="a-job-offer">구인구직</a></ul>
        </li>
    </nav>
    <address>
        <div>
            <h3>회사전화</h3>
            <span>000-0000-0000</span>
            <span>000-0000-0000</span>
        </div>
        <div>
            <h3>회사주소</h3>
            <span>광주광역시 북구 매곡로 69번길 42</span>
            <span>우) 61061</span>
        </div>
    </address>
    <div class="about">
        <li>
            <ul><a href="#">이용약관</a></ul>
            <ul><a href="#">개인정보처리방침</a></ul>
            <ul><a href="#">책임의 한계와 법적고지</a></ul>
        </li>
    </div>
    <hr class="footer-hr">
    <span class="copyright">© Copyright, 2020</span>
</footer>