<head>
    <link rel="stylesheet" href="/css/base.css">
</head>

<header>
    <div class="headerback">
        <div class="logoback">
            <a href="/">
                <image src="/images/TMI_LOGO.png" style="margin-top: 10px; width: 105px;" />
            </a>
        </div>
        <nav>
            <a href="calendar" class="first-nav">캘린더</a>
            <a href="post" class="second-nav">게시물</a>
            <a href="community" class="thrid-nav">커뮤니티</a>
            <a href="a-job-offer" class="fourth-nav">구인구직</a>
        </nav>
        <div>
            <a href="/account/login">
                <img class="lock-1" src="/images/lock.png" alt="lock" width="30" height="30">
                <p class="login">Login</p>
            </a>
        </div>
    </div>
</header>