<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMI</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/calendar.css">
</head>
<body>
    <%- include('partials/header') %> 
    <div class="content-main">
        <table id="calendar">
            <thead>
                <tr>
                    <td>
                        <label id="prev">
                            &#60;
                        </label>
                    </td>
                    <td id="current-month"></td>
                    <td>
                        <label id="next">
                            &#62;
                        </label>
                    </td>
                </tr>
                <tr>
                    <td id="Sunday">일</td>
                    <td id="Monday">월</td>
                    <td id="Tuesday">화</td>
                    <td id="Wednesday">수</td>
                    <td id="Thursday">목</td>
                    <td id="Friday">금</td>
                    <td id="Saturday">토</td>
                </tr>
            </thead>
            <tbody id="cBody"></tbody>
            <script src="../js/calendar.js"></script>
        </table>
    </div>
    <%- include('partials/footer') %> 
</body>
</html>