<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/images/TMI-logo.png" rel="shortcut icon" type="image/x-icon">
    <title>TMI</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/calendar.css">
</head>

<body>
<<<<<<< HEAD
    <%- include('partials/header') %> 
=======
    <%- include('partials/header') %>

>>>>>>> c0027cb23b44ec8394b02c3788b3129e5e3838ce
    <div class="content-main">
        <div>
            <div class="direction year">
                <label id="prev">
                    &#60;
                </label>
                <span id=current-year></span>
                <label id="next">
                    &#62;
                </label>
            </div>
            <div class="direction month">
                <label id="prev">
                    &#60;
                </label>
                <span id=current-month></span>
                <label id="next">
                    &#62;
                </label>
            </div>
        </div>
        <table id="calendar">
            <thead>
                <tr class="date">
                    <td id="Sunday">일</td>
                    <td id="Monday">월</td>
                    <td id="Tuesday">화</td>
                    <td id="Wednesday">수</td>
                    <td id="Thursday">목</td>
                    <td id="Friday">금</td>
                    <td id="Saturday">토</td>
                </tr>
            </thead>
            <tbody id="cBody"></tbody>
        </table>
    </div>
<<<<<<< HEAD
    <script src="/js/calendar.js"></script>
    <%- include('partials/footer') %> 
=======
    <%- include('partials/footer') %>
>>>>>>> c0027cb23b44ec8394b02c3788b3129e5e3838ce
</body>

</html>