<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMI</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/calendar.css">
</head>
<script type="text/javascript">
    var currentTitle = document.getElementById('current-year-month'); //무슨 변수지..
    var calendarBody = document.getElementById('calendar-body'); //무슨 변수지222
    var today = new Date(); //오늘 날짜
    var date = new Date(); //today의 날짜를 세주는 역할
    var monthFirst = new Date(today.getFullYear(), today.getMonth(), 1); //이번 달의 1day
    var dayList = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; //요일
    var monthList = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November', 'December']; //달        var leapYear = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] //윤년 달의 마지막일수
    var leapYear = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] //윤년인 달의 마지막일수
    var notleapYear = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] //윤년이 아닌 달의 마지막일수
    var pageFirst = monthFirst; //??
    var pageYear; //윤년 체크를 하고 결과(배열)를 담는 역할
    if (monthFirst.getFullYear() % 4 === 0) {
        pageYear = leapYear;
    } else {
        pageYear = notleapYear;
    }
    function showCalendar() { //현재 달
        let monthCnt = 100; //왜 100을 준거지...
        let cnt = 1; //day 숫자
        //Calendarmonth.innerHTML = (today.getMonth()+1)+"월";
        for (var i = 0; i < 6; i++) { //week만들기
            var $tr = document.createElement('tr'); //줄바꿈 요소 생성
            $tr.setAttribute('id', monthCnt); //???
            for (var j = 0; j < 7; j++) { //day만들기
                if ((i === 0 && j < monthFirst.getDay()) || cnt > pageYear[monthFirst.getMonth()]) { 
                    //첫번째 주에서 시작하는 요일부터 날짜 출력 || 달력 출력 종료 조건
                    var $td = document.createElement('td');
                    $tr.appendChild($td);
                } else {
                    var $td = document.createElement('td');
                    $td.textContent = cnt;
                    $td.setAttribute('id', cnt);
                    $tr.appendChild($td);
                    cnt++;
                }
            }
            monthCnt++;
            calendarBody.appendChild($tr);
        }
        // for(i=1; i<=lastDate.getDate(); i++) { //1일~마지막 일까지 반복
        //     cell = row.insertCell(); //열 한칸씩 계속 만듦
        //     cell.innerHTML = i; //섹을 1부터 마지막 day까지 html문법에 넣기
        //     Sun = Sun + 1; //열의 갯수를 계속 다음으로 위치하게 해주는 역할
        //     if (Sun % 7 == 1) { //일요일 계산
        //         cell.innerHTML = "<font color = #B72B2B>" + i //1번째 셀만 색칠
        //     }
        //     if (today.getFullYear() == date.getFullYear() && today.getMonth() == date.getMonth() && i == date.getDate()) {
        //         //오늘의 날짜에 색칠
        //         cell.bgColor = "#ffd255";
        //     }
        // }
    }
    showCalendar();
    function removeCalendar() { //달력 업데이트라는데...
        let catchTr = 100; //이건 또 뭘까
        for (var i = 100; i < 106; i++) {
            var $tr = document.getElementById(catchTr);
            $tr.remove();
            catchTr++;
        }
    }
    function prevCalendar() { //이전 달
        today = new Date(today.getFullYear(), today.getMonth()-1, today.getDate());
        showCalendar(); //달력 cell을 만들고 출력
    }
    function nextCalendar() { //다음 달
        today = new Date(today.getFullYear(), today.getMonth()+1, today.getDate());
        showCalendar(); //달력 cell을 만들고 출력
    }
</script>
<body>
    <%- include('partials/header') %> 

    <table class="Calendar top">
        <tr>
            <td><label onclick="prevCalendar()"> < </label></td>
            <td class="top calendar">M월</td>
            <td><label onclick="nextCalendar()"> > </label></td>
        </tr>
    </table>

    <table class="Calendar center">
        <tr>
            <td id="Sunday">일</td>
            <td id="Monday">월</td>
            <td id="Tuesday">화</td>
            <td id="Wednesday">수</td>
            <td id="Thursday">목</td>
            <td id="Friday">금</td>
            <td id="Saturday">토</td>
        </tr>
    </table>
    <script language="javascript" type="text/javascript">
        showCalendar();
    </script>

    <%- include('partials/footer') %> 
</body>
</html>