<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMI-base</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/chatting.css">
    <script src="../js/chatting.js"></script>
</head>
<body>
    <%- include('partials/header') %> 
    <main>
        <h1>채팅방 이름</h1>
      <div id="chat">
        <!-- 채팅 메시지 영역 -->
      </div>
      <div class="chatting">
        <span class="plus">+</span>
        <input type="text" id="input">
        <button class="send" onclick="send()">전송</button>
      </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>