<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/base.css">
    <title>TMI</title>
</head>
<body>
    <%- include(partials/header) %> 
    
    <div class="contant">
        <img src="../images/TMI-logo.png" alt="TMI-logo.black" width="222" height="120">
        <form method="POST" action="login/auth">   
            <div class="IDbox">
                <input type="ID" id="loginID" name="ID" placeholder="아이디">
            </div>
            <div class="PASSWORDbox">
                <input type="PASSWORD" id="loginPASSWORD" name="password" placeholder="비밀번호">
            </div>
            <input type="submit" id="loginbutton" title="로그인" value="로그인">
        </form>
        <form method="GET" action="register">
            <input type="submit" id="membershipbutton" title="회원가입" value="회원가입">
        </form>
    </div>
    
    <%- include(partials/footer) %> 
</body>
</html>