<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/SignUp.css">
    <link rel="stylesheet" href="../css/base.css">
    <title>TMI</title>
</head>
<body>
    <%- include(partials/header) %> 
    
    <div class="contain">
        <img src="../images/TMI-logo.png" alt="TMI-logo.black" width="222" height="120">
        <form method="POST" action="register/local">
            <div id="Essential">
                <div class="IDblank">
                    <h3 id="id">아이디</h3>
                    <input type="id" id="signupID" name="ID">
                </div>
                <div class="PASSWORDblank">
                    <h3>비밀번호</h3>
                    <input type="password" id="signupPASSWORD" name="password">
                    <h3>비밀번호 재확인</h3>
                    <input type="password" id="againPASSWORD" name="Rpassword">
                </div>
            </div>
            <div id="Choice">
                <div class="NAMEblank">
                    <h3>이름</h3>
                    <input type="name" id="signupNAME" name="Name">
                </div>
                <div class="BIRTHblank">
                    <h3>생년월일</h3>
                    <input type="YEAR" id="birthYEAR" name="Byear" placeholder="년 (4자)">
                    <select name="Bmonth" id="birthMONTH">
                        <option>월</option>
                        <option value="1">1월</option>
                        <option value="2">2월</option>
                        <option value="3">3월</option>
                        <option value="4">4월</option>
                        <option value="5">5월</option>
                        <option value="6">6월</option>
                        <option value="7">7월</option>
                        <option value="8">8월</option>
                        <option value="9">9월</option>
                        <option value="10">10월</option>
                        <option value="11">11월</option>
                        <option value="12">12월</option>
                    </select>
                    <input type="DAY" id="birthDAY" name="Bday" placeholder="일">
                </div>
                <div class="EMAILblank">
                    <h3>이메일</h3>
                    <input type="email" id="signupEMAIL" name="email">
                </div>
                <div class="AGENCY">
                    <h3>소속기관</h3>
                    <input type="agency" id="signupAGENCY" name="agency">
                </div>
            </div>
            <input type="submit" id="SIGNUPbutton" title="회원가입" value="회원가입">
        </form>
    </div>
    
    <%- include(partials/footer) %> 
</body>
</html>