/** @format */

article {
  margin: auto;
  margin-bottom: 0;
  margin-top: 199px;
  width: 1279.11px;
  height: 914px;
  border: solid 3px rgba(15, 36, 139, 1);
}

main {
  float: left;
  width: 889.11px;
  border-right: solid 2px;
  height: 914px;
}

/* 채팅 영역 */
#chat {
  height: 85%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: aquamarine;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  position: relative;
  left: 550px;
  width: 30%;
  background-color: rgba(229, 229, 229, 0.37);
  border: solid 1px;
  padding: 3px;
}

/* 상대방이 보낸 메시지 */
.other {
  right: 20px;
  left: 300px;
  width: 30%;
  background-color: rgba(229, 229, 229, 0.37);
  border: solid 1px;
  padding: 3px;
}

.chatting {
  text-align: center;
  border-top: solid 2px;
  padding: 10px;
  padding-bottom: 0;
}

#input {
  background-color: rgba(196, 196, 196, 0.22);
  position: relative;
  bottom: 3px;
  width: 696px;
  height: 38px;
  margin: 5px 0 5px 0;
  border: solid 1px rgb(124, 124, 124);
  border-radius: 3px;
}

.plus {
  position: relative;
  top: 7px;
  right: 10px;
  font-size: 35px;
  border: solid 1px;
  padding: 3px;
}

.send {
  background-color: #fff;
  border: solid 1px;
  border-radius: 3px;
  font-size: 18px;
  padding: 3px;
  margin-left: 8px;
}

h2 {
  text-align: center;
  font-size: 27px;
  margin: 0px;
  padding: 15px;
  border-bottom: solid 2px;
}

.time {
  position: relative;
  top: 14px;
  left: 550px;
  font-size: 12px;
  margin: 0 0 12px 0;
}

.prf {
  position: relative;
  top: -45px;
  left: 832px;
}

.searDiv {
  padding: 2px;
  width: 100%;
}

.black-hr {
  border: solid 1px black;
  width: 30.3%;
}

#search {
  width: 262.83px;
  height: 21.22px;
  background-color: rgba(196, 196, 196, 0.22);
  border: solid 1px;
  border-radius: 5px;
  margin-left: 25px;
}

.seaBtn {
  width: 39.82px;
  height: 23px;
  background-color: rgba(196, 196, 196, 0.22);
  border: solid 1px;
  border-radius: 5px;
  position: relative;
  top: 7px;
  left: 5px;
}
