@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

body {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black
}

.white{color: #FFFFFF;}

main article{
    position: absolute;
    width: 1320px;
    height: 465px;
    left: 300px;
    top: 94px;

    background-color: #253DAC;
}

.mySlides {display:none}
.left, .right, .badge {cursor:pointer}
.badge {
    margin-bottom: 5px;
    padding: 0 8px 0 8px;
    display: inline-block;
    border-radius: 50%;
}
.border {border:1px solid}
.padding-right{padding-right: 16px; float: right;}
.padding-left{padding-left: 16px; float: left;}


li{list-style: none;}

.category{
    position: absolute;
    width: 1315px;
    height: 130px;
    left: 305px;
    top: 635px;
}

.category-img{padding-left: 40px;}

.category1{
    position: absolute;
    width: 180px;
    height: 94px;
    left: -40px; 
    padding: 0%;  
}

.category2{
    position: absolute;
    width: 150px;
    height: 94px;
    left: 110px; 
    padding: 0%; 
}

.category3{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 235px; 
    padding: 0%;   
}

.category4{
    position: absolute;
    width: 130px;
    height: 94px;
    left: 385px; 
    padding: 0%;    
}

.category5{
    position: absolute;
    width: 220px;
    height: 94px;
    left: 475px; 
    padding: 0%;   
}

.category6{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 630px; 
    padding: 0%; 
}

.category7{
    position: absolute;
    width: 220px;
    height: 94px;
    left: 750px; 
    padding: 0%;  
}

.category8{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 900px; 
    padding: 0%;   
}

.category9{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 1030px; 
    padding: 0%; 
}

.category10{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 1150px; 
    padding: 0%;  
}

.category-font{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    padding-left: 45px;
    margin-top: 10px;
}

.contest{
    position: absolute;
    width: 1320px;
    height: 343px;
    left: 300px;
    top: 841px;
}

.point-font{
    position: absolute;
    width: 219px;
    height: 42px;
    left: -23px;
    top: -8px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    color: #FFFFFF;   
}

.point{
    position: absolute;
    width: 171px;
    height: 60px;

    background: #0F248B;
}

.contest-hr{margin-top: 55px; border: 3px solid #0F248B;}

.contest1{
    position: absolute;
    width: 300px;
    height: 192px;
    left: 10px;
    top: 100px;
}

.contest2{
    position: absolute;
    width: 300px;
    height: 192px;
    left: 340px;
    top: 100px;
}

.contest3{
    position: absolute;
    width: 300px;
    height: 192px;
    left: 670px;
    top: 100px;
}

.contest4{
    position: absolute;
    width: 300px;
    height: 192px;
    left: 1000px;
    top: 100px;
}

.contest-font{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.poster{
    position: absolute;
    width: 1320px;
    height: 504px;
    left: 300px;
    top: 1260px;
}

.poster-img1{
    position: absolute;
    width: 300px;
    height: 414px;
    left: 10px;
    top: 100px;
}

.poster-img2{
    position: absolute;
    width: 300px;
    height: 414px;
    left: 340px;
    top: 100px;
}

.poster-img3{
    position: absolute;
    width: 300px;
    height: 414px;
    left: 670px;
    top: 100px;
}

.poster-img4{
    position: absolute;
    width: 300px;
    height: 414px;
    left: 1000px;
    top: 100px;
}