@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

body {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black
}

.white{color: #FFFFFF;}

main article{
    position: absolute;
    width: 1320px;
    height: 465px;
    left: 300px;
    top: 94px;

    background-color: #253DAC;
}

.mySlides {display:none}
.left, .right, .badge {cursor:pointer}
.badge {
    margin-bottom: 5px;
    padding: 0 8px 0 8px;
    display: inline-block;
    border-radius: 50%;
}
.border {border:1px solid}
.padding-right{padding-right: 16px; float: right;}
.padding-left{padding-left: 16px; float: left;}
.section{
    position: relative;
    bottom: 40px;
    color: #ffffffb9;
}


li{list-style: none;}

.category{
    position: absolute;
    width: 1315px;
    height: 130px;
    left: 305px;
    top: 635px;
}

.category-img{padding-left: 40px;}

.category1{
    position: absolute;
    width: 180px;
    height: 94px;
    left: -20px; 
    padding: 0%;  
}

.category2{
    position: absolute;
    width: 150px;
    height: 94px;
    left: 125px; 
    padding: 0%; 
}

.category3{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 245px; 
    padding: 0%;   
}

.category4{
    position: absolute;
    width: 130px;
    height: 94px;
    left: 395px; 
    padding: 0%;    
}

.category5{
    position: absolute;
    width: 220px;
    height: 94px;
    left: 480px; 
    padding: 0%;   
}

.category6{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 635px; 
    padding: 0%; 
}

.category7{
    position: absolute;
    width: 220px;
    height: 94px;
    left: 740px; 
    padding: 0%;  
}

.category8{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 880px; 
    padding: 0%;   
}

.category9{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 995px; 
    padding: 0%; 
}

.category10{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 1115px; 
    padding: 0%;  
}

.category-font{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    padding-left: 45px;
    margin-top: 10px;
}

.contest{
    position: absolute;
    width: 1440px;
    height: 378px;
    left: 240px;
    top: 937px;
}

.point-font{
    position: absolute;
    width: 219px;
    height: 42px;
    left: 17px;
    top: -13px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: #FFFFFF;   
}

.point{
    position: absolute;
    width: 259px;
    height: 82px;

    background: #0F248B;
}

.contest-hr{margin-top: 80px; border: 3px solid #0F248B;}

.contest1{
    position: absolute;
    width: 312px;
    height: 265px;
    left: 70px;
    top: 130px;
}

.contest2{
    position: absolute;
width: 312px;
height: 265px;
left: 400px;
    top: 130px;
}

.contest3{
    position: absolute;
width: 312px;
height: 265px;
left: 730px;
    top: 130px;
}

.contest4{
    position: absolute;
width: 312px;
height: 265px;
left: 1060px;
    top: 130px;
}

.contest-font{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;
}

.poster{
    position: absolute;
    width: 1440px;
    height: 431.4px;
    left: 240px;
    top: 1402px;
}

.poster-img1{
    position: absolute;
    width: 312px;
    height: 431.4px;
    left: 70px;
    top: 130px;
    
    border: 1px solid #000000;
    box-sizing: border-box;
}

.poster-img2{
    position: absolute;
    width: 312px;
    height: 431.4px;
    left: 400px;
    top: 130px;
    
    border: 1px solid #000000;
    box-sizing: border-box;
}

.poster-img3{
    position: absolute;
    width: 312px;
    height: 431.4px;
    left: 730px;
    top: 130px;
    
    border: 1px solid #000000;
    box-sizing: border-box;
}

.poster-img4{
    position: absolute;
    width: 312px;
    height: 431.4px;
    left: 1060px;
    top: 130px;
    
    border: 1px solid #000000;
    box-sizing: border-box;
}