.contant{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 283px;
    height: 500px;
}
#loginID{
    width: 680px;
    height: 50px;
    border: solid 0px;
    font-size: 18px;
}
#loginPASSWORD{
    width: 680px;
    height: 50px;
    border: solid 0px;
    font-size: 18px;
}
.IDbox{
    width: 700px;
    height: 50px;
    padding: 10px;
    border: solid 1px;
    margin-top: 76px;
    margin-bottom: 15px;
}
.PASSWORDbox{
    width: 700px;
    height: 50px;
    padding: 10px;
    border: solid 1px;
    margin-bottom: 34px;
}
#loginbutton{
    width: 720px;
    height: 80px;
    margin-bottom: 15px;
    background-color: #0B2086;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
#membershipbutton{
    width: 720px;
    height: 80px;
    background-color: white;
    color: #0B2086;
    font-size: 17px;
    cursor: pointer;
}