@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

.search-wrap {
    margin-left: 590px;
    margin-top: 179px;
    height: 50px;
    width: 724px;
    position: absolute;
}

.search-bar{
    border: 2px solid #0F248B;
    border-radius: 1px;
    height: 50px;
    float: left;
}

.select-item{
    float: left;
}

.select-item>select {
    float: left;
    width: 180px;
    height: 40px;
    margin-top: 5px;
    padding-left: 13px;
    border-style: none;
    font-size: 20px;
    color: #0F248B;
    background: url('../images/Vector1.png') no-repeat 95% 50%;
    text-align: center;
    border-radius: 0px;
    border-style: none;
    border-right: 2px solid #0F248B;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none; appearance: none;
}
.select-item>select::-ms-expand { display: none; }

.search-bar>input {
    width: 400px;
    height: 50px;
    padding: 0 20px;
    padding-left: 20px;
    font-size: 20px;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none; appearance: none;
}
.search-bar>input::-ms-expand { display: none; }
.search-bar>input:focus { outline:none; }

.search-wrap>button{
    position: absolute;
    width: 100px;
    height: 54px;
    padding: 0;
    margin-left: 0px;
    border-style: none;
    font-size: 24px;
    color: #ffffff;
    background-color: #0F248B;
    outline: none;
    cursor: pointer;
}

.search-wrap>button:active {
    background-color: #253DAC;
    transition: background 0.0s;
}

.section-wrap {
    width: 0;
    height: 0;
    margin: 314px 0 0 0;
    position: absolute;
}

.section-wrap>p {
    width: 300px;
    padding: 0;
    margin: 0.01em 0 0 20em;
    position: relative;
    color: black;
    font-size: 40px;
    text-align: center;
}

.Post-wrap {
    width: 0;
    height: 0;
    margin: 95px 0 0 210px;
    position: absolute;
}

.Post-space {
    width: 1370px;
    height: 280px;
    padding: 0;
    margin: -3em 0 0 3em;
    border-style: solid;
    border-spacing: 25px;
    position: absolute;
}

.Post-cell {
    width: 1320px;
    height: 230px;
}

.Post-item {
    width: 1320px;
    height: 230px;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 1px;
}

.Post-img {
    width: 170px;
    height: 170px;
    margin: 26px 22px;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    float: left;
}

.Post-img>img {
    width: 122px;
    height: 122px;
    margin: 24px;
}

.Post-Tt {
    width: auto;
    height: auto;
    margin: 2em 0 0 14em;
    padding: 0;
    position: absolute;
}

.Title {
    font-size: 30px;
    padding: 0;
    margin: 2em 0 0 0;
    position: relative;
}

.Publisher {
    width: auto;
    font-size: 20px;
    padding: 0;
    margin: 1.2em 0 0 0;
}

.date {
    width: auto;
    height: auto;
    padding: 0;
    margin: 1.7em 2em 0 0;
    font-size: 20px;
    text-align: center;
    float: right;
}

.btn-post {
    float: right;
    width: 143px;
    height: 103px;
    margin: 3em -4.5em 0 0;
    padding: 0;
    border-style: none;
    font-size: 32px;
    color: #ffffff;
    background-color: #0F248B;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-post:active {
    background-color: #253DAC;
    transition: background 0.0s;
}

.paging-wrap {
    width: 640px;
    margin: 0 0 0 370px;
    text-align: center;
}

.paging {
    font-size: 36px;
    margin: 37em 0 0 2em;
}

.paging>a {
    margin: 0 20px;
}

.paging>.prev {
    margin-right: 30px;
}

.paging>.next {
    margin-left: 30px;
}