@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

.search-wrap {
    margin-left: 424px;
    margin-top: 179px;
    height: 75px;
    width: 1072px;
    position: absolute;
}

.search-bar{
    border: 2px solid #0F248B;
    border-radius: 1px;
    height: 71px;
    float: left;
}

.select-item{
    float: left;
}

.select-item>select {
    float: left;
    width: 205px;
    height: 51px;
    margin-top: 10px;
    padding-left: 13px;
    border-style: none;
    font-size: 24px;
    color: #0F248B;
    background: url('../images/Vector1.png') no-repeat 95% 50%;
    text-align: center;
    border-radius: 0px;
    border-style: none;
    border-right: 2px solid #0F248B;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none; appearance: none;
}
.select-item>select::-ms-expand { display: none; }

.search-bar>input {
    width: 614px;
    height: 71px;
    padding: 0 20px;
    padding-left: 20px;
    font-size: 20px;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none; appearance: none;
}
.search-bar>input::-ms-expand { display: none; }
.search-bar>input:focus { outline:none; }

.search-wrap>button{
    position: absolute;
    width: 186px;
    height: 75px;
    padding: 0;
    margin-left: 23px;
    border-style: none;
    font-size: 24px;
    color: #ffffff;
    background-color: #0F248B;
    outline: none;
    cursor: pointer;
}

.search-wrap>button:active {
    background-color: #253DAC;
    transition: background 0.0s;
}

.section-wrap {
    width: auto;
    height: auto;
    margin: 314px 0 0 0;
    position: absolute;
}

.section-wrap>p {
    width: 300px;
    padding: 0;
    margin: 10px 0 0 810px;
    position: relative;
    color: black;
    font-size: 50px;
    text-align: center;
}

.Post-wrap {
    width: 1440px;
    margin: 95px 0 0 210px;
}

.Post-space {
    width: 1490px;
    height: 300px;
    padding: 0;
    margin: -80px 0 0 0;
    border-style: solid;
    border-spacing: 25px;
}

.Post-cell {
    width: 1440px;
    height: 250px;
}

.Post-item {
    width: 1440px;
    height: 250px;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 1px;
}

.Post-img {
    width: 200px;
    height: 200px;
    margin: 26px 22px;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    float: left;
}

.Post-img>img {
    width: 152px;
    height: 152px;
    margin: 24px;
}

.Post-Tt {
    width: auto;
    height: auto;
    margin: 30px 0 0 15%;
    padding: 0;
    position: absolute;
}

.Title {
    font-size: 40px;
    padding: 0;
    margin: 30px 0 0 0;
    position: relative;
}

.Publisher {
    width: auto;
    font-size: 24px;
    padding: 0;
    margin: 15px 0 0 0;
}

.date {
    width: auto;
    height: auto;
    padding: 0;
    margin: 40px 37px 0 0;
    font-size: 24px;
    text-align: center;
    float: right;
}

.btn-post {
    float: right;
    width: 188px;
    height: 120px;
    margin: 100px -182px 0 0;
    padding: 0;
    border-style: none;
    font-size: 24px;
    color: #ffffff;
    background-color: #0F248B;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-post:active {
    background-color: #253DAC;
    transition: background 0.0s;
}

.paging-wrap {
    width: 640px;
    margin: 0 0 0 370px;
    text-align: center;
}

.paging {
    font-size: 48px;
    margin: 30px 0;
}

.paging>a {
    margin: 0 20px;
}

.paging>.prev {
    margin-right: 40px;
}

.paging>.next {
    margin-left: 40px;
}